<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Small Project</title>
    <!-- CSS Link -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Font Awsome -->
    <link rel="stylesheet" href="../Font Awsome/css/all.min.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- Container -->
    <div class="container">
        <!-- Header Section -->
        <section class="header-section">
            <!-- Content Header -->
            <div class="content-header">
                <!-- header left -->
                <div class="header-left">
                    <!-- Currency -->
                    <div class="currency">
                        <p>Currency:</p>
                        <select id="currency">
                            <option value="USD">USD</option>
                            <option value="saab">Saab</option>
                            <option value="vw">VW</option>
                            <option value="audi" selected>Audi</option>
                        </select>
                        <p class="straight-line">|</p>
                    </div>
                    <!-- End of Currency -->
                    <div class="lang">
                        <p>Languge:</p>
                        <select id="lang">
                            <option value="volvo">EN</option>
                            <option value="saab">Saab</option>
                            <option value="vw">VW</option>
                            <option value="audi" selected>Audi</option>
                        </select>
                    </div>
                </div>
                <!-- End of header left -->
                <!-- Header-right -->
                <div class="header-right">
                    <!-- Sign In -->
                    <div class="sign-in">
                        <a href="#">Sign In</a>
                    </div>
                    <!-- End of Sign In -->
                    <p class="straight-line">|</p>
                    <!-- Create Acc -->
                    <div class="create-acc">
                        <a href="#">Create an Account</a>
                    </div>
                    <!-- End of Create Acc -->
                </div>
                <!-- End of Header-right -->
            </div>
            <!-- Content Header -->
        </section>
        <!-- End of Header Section -->
        <!-- Search Section -->
        <section class="search-section">
            <!-- Search Content -->
            <div class="content-search">
                <!-- Logo -->
                <a href="index.html" class="logo">VOLGA.</a>
                <!-- End of Logo -->
                <!-- Search Box -->
                <div class="search-box">
                    <div class="box">
                        <select id="box">
                            <option value="Phone">All Categories</option>
                        </select>
                        <input type="text" placeholder="Search here...">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
                <!-- End of Search Box -->
                <!-- Icon -->
                <div class="icon">
                    <i class="fa-regular fa-heart"></i>
                    <span>0</span>
                    <p>|</p>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>2</span>
                    <!-- My Cart -->
                    <div class="my-cart">
                        <p>My Cart</p>
                        <p>$125.00</p>
                    </div>
                    <!-- End of My Cart -->
                </div>
                <!-- End of Icon -->

            </div>
            <!-- End of Search Content -->
        </section>
        <!-- End of Search Section -->
        <!-- Navbar Section -->
        <section class="navbar-section">
            <!-- content-navbar -->
            <div class="content-navbar">
                <!-- Menubar -->
                <ul class="menubar">
                    <li><a class="active" href="#">
                            HOME
                        </a>
                    </li>
                    <li><a href="#">SHOPS <span><i class="fa-solid fa-chevron-down"></i></span></a></li>
                    <li><a href="#">PAGE <span><i class="fa-solid fa-chevron-down"></i></span></a></li>
                    <li><a href="#">BLOGS</a></li>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">CONTACT US</a></li>
                </ul>
                <!-- End of Menubar -->
                <!-- Telephone -->
                <div class="telephone">
                    <i class="fa-solid fa-phone"></i>
                    <span>Hotline:</span>
                    <p>+88 12 345 6789</p>
                </div>
                <!-- End of Telephone -->
            </div>
            <!-- End of content-navbar -->
        </section>
        <!-- End of Navbar Section -->
        <!-- Content Section -->
        <section class="content-section">
            <!-- Main Content -->
            <div class="main-content">
                <!-- Content Left -->
                <div class="content-left">
                    <!-- Menu Categories -->
                    <div class="menu-categories">
                        <!-- Categories -->
                        <div class="categoires">
                            <i class="fa-solid fa-bars"></i>
                            <h3>CATEGORIES</h3>
                        </div>
                        <!-- End of Categories -->
                    </div>
                    <ul class="list-categories">
                        <li>
                            <i class="fa-solid fa-mobile-screen"></i>
                            <a href="#"> <span>Phones & Tablets</span><i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </li>
                        <li>
                            <i class="fa-solid fa-tv"></i>
                            <a href="#"> <span>TV & Video</span>
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </li>
                        <li class="active">
                            <i class="fa-solid fa-gamepad"></i>
                            <a href="#"><span class="active">Electronics</span>
                                <i class="fa-solid fa-chevron-right active"></i>
                            </a>
                        </li>
                        <li>
                            <i class="fa-solid fa-laptop"></i>
                            <a href="#"> <span>Computer & Laptop</span>
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </li>
                        <li>
                            <i class="fa-solid fa-shirt"></i>
                            <a href="#"> <span>Fashion</span>
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </li>
                        <li>
                            <i class="fa-solid fa-sink"></i>
                            <a href="#"> <span>Home & Kitchen</span>
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </li>
                        <li>
                            <i class="fa-solid fa-wand-magic-sparkles"></i>
                            <a href="#"><span>Beauty</span>
                            </a>
                        </li>
                        <li>
                            <i class="fa-solid fa-futbol"></i>
                            <a href="#"><span>Sport & Turisim</span>
                            </a>
                        </li>
                        <li>
                            <i class="fa-solid fa-cheese"></i>
                            <a href="#"> <span>Meat & Seafood</span>
                            </a>
                        </li>
                        <li>
                            <i class="fa-solid fa-carrot"></i>
                            <a href="#"><span>Fruits & Veggies</span>
                            </a>
                        </li>
                        <li>
                            <i class="fa-solid fa-ellipsis"></i>
                            <a href="#"> <span>More Categories</span>
                            </a>
                        </li>
                    </ul>
                    <!-- End of Menu Categories -->
                </div>
                <!-- End of Content Left -->
                <!-- Content Mid -->
                <div class="content-mid">
                    <!-- Content Img -->
                    <div class="content-img">
                        <!-- Header Text -->
                        <div class="header-text">
                            <h1>
                                Big Sale
                            </h1>
                            <h3>
                                Up to 50% OFF
                            </h3>
                            <p>ALL SELECTED ITEMS</p>
                        </div>
                        <!-- End of Header Text -->
                        <!-- Shop Now Btn -->
                        <div class="shop-now">
                            <a href="#">SHOP NOW</a>
                        </div>
                        <!-- End of Shop Now Btn -->
                    </div>
                    <!-- Content Img -->
                </div>
                <!-- End of Content Mid -->
                <!-- Content Right -->
                <div class="content-right">
                    <!-- Content Buy Now Top -->
                    <div class="content-buy-now">
                        <!-- Img Buy Now -->
                        <div class="img-buy-now">
                            <div>
                                <h4 class="title">
                                    PORTABLE SPEAKER
                                </h4>
                                <a href="#">BUY NOW</a>
                            </div>
                        </div>
                        <!-- Img Buy Now -->
                    </div>
                    <!-- End of Content Buy Now Top -->
                    <!-- Content Buy Now Middle -->
                    <div class="content-buy-now-middle">
                        <!-- Img Buy Now -->
                        <div class="img-buy-now">
                            <div>
                                <h4 class="title">
                                    <p>ASUS THAICHI</p>
                                    <span>Uder $350</span>
                                </h4>
                            </div>
                            <div class="btn"><a href="#">BUY NOW</a></div>
                        </div>
                        <!-- Img Buy Now -->
                    </div>
                    <!-- End of Content Buy Now Middle -->
                    <!-- Content Buy Now Bottom -->
                    <div class="content-buy-now-bottom">
                        <!-- Img Buy Now -->
                        <div class="img-buy-now">
                            <div>
                                <h4 class="title">
                                    <p>3D LED</p>
                                    <span>SMART TV</span>
                                </h4>
                            </div>
                            <a href="#">BUY NOW</a>
                        </div>
                        <!-- Img Buy Now -->
                    </div>
                    <!-- End of Content Buy Now Bottom-->
                </div>
                <!-- End of Content Right -->
            </div>
            <!-- End of Main Content -->
        </section>
        <!-- End of Content Section -->
        <!-- Brand Section -->
        <section class="brand-section">
            <!-- Content Brand Section -->
            <div class="content-brand-section">
                <!-- Menu Brand -->
                <nav class="menu-brand">
                    <!-- List Menu Brand -->
                    <div class="list-menu-brand">
                        <ul>
                            <li class="top-brands"><a href="#">TOP BRANDS</a></li>
                            <li class="fashion-brands"><a href="#">FASHION BRANDS</a></li>
                            <li class="electronic-brands"><a href="#">ELECTRONIC BRANDS</a></li>
                        </ul>
                    </div>
                    <!-- End of List Menu Brand -->
                    <!-- Chevron Left Right -->
                    <div class="chevron">
                        <!-- Chevron Left -->
                        <span class="chevron-left">
                            <i class="fa-solid fa-chevron-left"></i>
                        </span>
                        <!-- End of Chevron Left -->
                        <span class="chevron-right">
                            <i class="fa-solid fa-chevron-right"></i>
                        </span>
                    </div>
                    <!-- Chevron Left Right -->
                </nav>
                <!-- End of Menu Brand -->
                <!-- Content Brand -->
                <div class="content-brand">
                    <div class="brand-1">
                        <img src="../img/5.jpg">
                    </div>
                    <div class="brand-2">
                        <img src="../img/6.jpg">
                    </div>
                    <div class="brand-3">
                        <img src="../img/7.jpg">
                    </div>
                    <div class="brand-4">
                        <img src="../img/8.jpg">
                    </div>
                    <div class="brand-5">
                        <img src="../img/9.jpg">
                    </div>
                </div>
                <!-- End of Content Brand -->
            </div>
            <!-- End of Content Brand Section -->
        </section>
        <!-- End of Brand Section -->
        <!-- Title Section -->
        <section class="title-section">
            <!-- Content Title Section -->
            <section class="content-title-section">
                <!-- Title -->
                <div class="title">
                    <i class="fa-solid fa-tags"></i>
                    <p>HOT DEALS</p>
                </div>
                <!-- End of  Title -->
                <!-- Date Times -->
                <div class="date-time">
                    <div>
                        <p id="days">00</p>
                        <span>Days</span>
                    </div>
                    <div class="dot">
                        :
                    </div>
                    <div>
                        <p id="hours">00</p>
                        <span>Hours</span>
                    </div>
                    <div class="dot">
                        :
                    </div>
                    <div>
                        <p id="minutes">00</p>
                        <span>Minutes</span>
                    </div>
                    <div class="dot">
                        :
                    </div>
                    <div>
                        <p id="seconds">00</p>
                        <span>Seconds</span>
                    </div>
                </div>
                <!-- End of Date Times -->
            </section>
            <!-- End of Content Title Section -->
        </section>
        <!-- End of Title Section -->
        <!-- Product Section -->
        <section class="product-section">
            <!-- Content Product Section -->
            <section class="cotent-product-section">
                <!-- Content -->
                <div class="content">
                    <!-- Img Promotion -->
                    <div class="img-promotion">
                        <div>
                        <pre class="title-text">BEST OFFER
EVER
                        </pre>
                        </div>
                        <div>
                            <a href="#">GO SHOPPING</a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </div>
                    <!-- End of Img Promotion -->
                    <!-- Producs -->
                    <div class="producs">
                        <!-- Product Box -->
                        <div class="product-box">
                            <!-- header -->
                            <div class="header">
                                <p>New</p>
                                <span>-15%</span>
                            </div>
                            <!-- End of header -->
                            <!-- body -->
                            <div class="body-img">
                                <div class="product-img">
                                    <img src="../img/11.jpg">
                                </div>
                            </div>
                            <!-- End of body -->
                            <!-- title footer -->
                            <div class="footer-title">
                            <div class="title">
                                Samsung Galaxy J7
                            </div>
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star empty"></i>
                            </div>
                            <div class="cost">
                                <p><del>$79.99</del> <span>$59.99</span></p>
                            </div>
                            </div>
                            <!-- End of title footer -->
                        </div>
                        <!-- End of Product Box -->
                        <!-- Add to Cart Products -->
                        <div class="product-add-to-cart">
                            <!-- product img -->
                            <div class="pro-img">
                                <i class="fa-solid fa-eye"></i>
                            </div>
                            <!-- End of product img -->
                            <!-- Btn A dd to Cart -->
                            <div class="btn-add-to-cart">
                                <!-- add-to-cart -->
                                <div class="add-to">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <pre>Add To Cart</pre>
                                </div>
                                <!-- End of add-to-cart -->
                                <!-- Btn Love -->
                                <div class="btn-love">
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                                <!-- End of Btn Love -->
                                <!-- Right Left -->
                                <div class="right-left">
                                    <i class="fa-solid fa-right-left"></i>
                                </div>
                                <!-- End of Right Left -->
                            </div>
                            <!-- End of Btn Add to Cart -->
                        </div>
                        <!-- End of Add to Cart Products -->
                        <!-- Product Box1 -->
                        <div class="product-box1">
                            <!-- body -->
                            <div class="body">
                                <div class="product-img">
                                    <img src="../img/13.jpg">
                                </div>
                            </div>
                            <!-- End of body -->
                            <!-- footer -->
                            <div class="footer-title">
                            <div class="title">
                                Fresh Atlantic Cod
                            </div>
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                            <div class="cost cost1">
                                <p>$15.99</p>
                            </div>
                            </div>
                            <!-- End of footer -->
                        </div>
                        <!-- End of Product Box1 -->
                        <!-- Product Box2 -->
                        <div class="product-box2">
                            <!-- body -->
                            <div class="body">
                                <div class="product-img">
                                    <img src="../img/14.jpg">
                                </div>
                            </div>
                            <!-- End of body -->
                            <!-- footer -->
                            <div class="footer-title">
                            <div class="title">
                                Fresh Atlantic Cod
                            </div>
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                            <div class="cost cost1">
                                <p>$15.99</p>
                            </div>
                            </div>
                            <!-- End of footer -->
                        </div>
                        <!-- End of Product Box2 -->
                    </div>
                    <!-- End of Producs -->
                </div>
                <!-- End of Content -->
            </section>
            <!-- End of Content Product Section -->
        </section>
        <!-- End of Product Section -->
    </div>
    <!-- End of Container -->
    <!-- Js Link -->
    <script src="../js/script.js"></script>
</body>

</html>